/* General styles */
body {
    padding-top: 70px; /* Offset for fixed navbar */
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin-top: 15rem !important;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

form label {
    font-weight: bold;
}

form input, form select, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

/* Meal results styles */
.meal {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.meal img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Navbar styles */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #ddd;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}
